<h1>Add New Driver<h1>

 <form action="/add-driver/insertDriver"   method="POST">
                                      
    <label >Name And Last Name:</label><br>
    <input type="text" name="name"
                    value="{{#name}}{{name}}{{/name}}"/><br><br>

    <label >Date Of Birth(YYYY-DD-MM):</label><br>
    <input type="date" name="dob"
                    value="{{#dob}}{{dob}}{{/dob}}"/><br><br><br>
    

    <button type="submit" >Save</button>
</form>