
<h1>Drivers Page</h1>
<h2>All Drivers List</h2>
    
    <table>
        <thead>
            <tr>
                <th>Driver ID</th>
                <th>NAME AND LAST NAME</th>
                <th>DATE OF BIRTH</th>
                <th>EDIT</th>
                <th>DELETE</th>
            </tr>
        </thead>
        <tbody>
            {{#drivers}}
                <tr>
                    <td>{{id}}</td>
                    <td>{{name}}</td>
                    <td>{{dob}}</td>
                    <td><a href="/updateDriver/{{id}}/updateDriver">edit</a></td>
                    <td><a href="/drivers/{{id}}/removeDriver">delete</a></td>
                </tr>
            {{/drivers}}
        </tbody>
    </table>

    <a href="/add-driver">Add New Driver</a>