<h1>Add Shifts For Two Drivers<h1>

 <form action="/updateLine/{{publiclines.id}}/updateLine"   method="POST">
    
    <label for="id">Driver One</label>

    <br><br>

    <select name="shift_one" id="id">
        {{#drivers}}
            <option value="{{name}}">{{name}}</option>
        {{/drivers}}
    </select>

    <br><br>

    <label for="id">Driver Two</label>

    <br><br>

    <select name="shift_two" id="id">
        {{#drivers}}
            <option value="{{name}}">{{name}}</option>
        {{/drivers}}
    </select>

    <br><br>
    

    <button type="submit" >Save</button>
</form>