<h1>Update Line<h1>


 <form action="/updateLine/{{publiclines.id}}/updateLine"   method="POST">
                                      
    <label >Name Of Line:</label><br>
    <input type="text" name="name_of_line"
                    value="{{publiclines.name_of_line}}"/><br><br>

    <label >Start Time:</label><br><br>
    <input type="time" name="start_time"
                    value="{{publiclines.start_time}}"/><br><br>

    <label >End Time:</label><br><br>
    <input type="time" name="end_time"
                    value="{{publiclines.end_time}}"/><br><br><br>
    

    <button type="submit" >Save</button>
</form>