

h1 {

    color: #33332f;
    font-weight: bold;
    
}

body {
    background-color: #DCDCDC;
    font-family: 'Montserrat', sans-serif;
}

nav {

    background-color: rgb(230, 230, 18);
}

a {

    color: indianred;
}

.logo-image{
    width: 56px;
    height: 56px;
    margin-left: 10px;
    
}